.dataviz {
  display: flex;
  justify-content: space-evenly;
  max-width: 1400px;
  .chart {
    width: 60%;
  }
  .table {
    max-height: 400px;
    overflow-y: auto;
    font-size: 12px;
    .sortButton {
      text-decoration: underline;
      cursor: pointer;
    }
    .key {
      max-width: 400px;
      text-align: left;
    }
  }
}
.loader {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  .loadingSpinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 4px solid #0077cc;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate (0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
