.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#filterDiv {
  display: flex;
  justify-content: center;
}

.filtres {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

#chartDiv {
  width: 100%;

  display: flex;
  justify-content: center;
}
